
#main.container

  #masthead
    %h1#name Notion
  
  #person_detail
    .bio
      %h3
    
  
  #people
    .circle.csch
      .pic
      .name
        Chris
    .circle.mtuz
      .pic
      .name
        Matt T
    .circle.dreb
      .pic
      .name
        Damian
    .circle.jpoz
      .pic
      .name
        James
    .circle.cruf
      .pic
      .name
        Collin
    .circle.dcac
      .pic
      .name
        Dan
    .circle.jbro
      .pic
      .name
        Jackson
    .circle.mwil
      .pic
      .name
        Matt W
    .circle.kpon
      .pic
      .name
        Kevin



  //  %nav
  //    .circle.work
  //      .pic
  //      .name
  //        Work
  //    .circle.people
  //      .pic
  //      .name
  //        People
  //    .circle.about
  //      .pic
  //      .name
  //        About