#big_ol_container
  %header
    %img{:src => '/images/notion.png'}
  #content.hidden
    .holder.clearfix
      .left
        %h1 Hello!
      .right
        %h2 Taco!
  %footer
    %p
      Copyright 2012 Notion LLC
